// COLORS

$primary-color: #58e1c1;
$secondary-color: #777;
$warning-color: #fd7856;
$success-color: #63cc82;
$error-color: #e4757a;
$info-color: #927bc1;
$default-color: #51ddfc;

// MEDIA QUERY BREAKPOINTS

$media-breakpoint: 768px;