/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
@use 'sass:math';

@media (min-width: $media-breakpoint) {

    .container {
      max-width: 1400px;
      @include block-center;
    }
    
    .centered {
      @include block-center;
    }
    
    .row {
      flex-direction: row;
    }
    
    [class^=col] {
      display: flex;
      justify-content: center;
      margin-top: 0;
      align-items: center;
    }
    
    [class^=col] + [class^=col] {
      margin-left: 10px;
    }
    
    @for $i from 1 through $max-col {
      .col-#{$i} {
        flex-basis: math.div(100%, $max-col) * $i; 
      }
    }

    .nav {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      &-link {
        flex-basis: 100px;
      }
    }
    
    .btn {
      padding: 10px 30px;
      & + & {
        margin-left: 10px;
      }
    }
    
    .logo {
      margin-left: initial;
      margin-right: initial;
    }
    
    }